.top-margin { 
    margin-top: 20px; 
}

.fill {
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.height-responsive {
    width: auto !important;
    height: 225px !important;
    max-height: 225px !important;
}

.small { 
    max-height: 400px; 
}

.carousel-control { 
    background-image: none !important;
}

.white {
  color: #fff;
}

.post-date {
    display: block;
    margin: -10px 0 10px;
    color: #aaa;
}

body {
    padding-top: 50px; /* for the fixed menu */
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

input.upload{
    position:absolute;
    z-index:2;
    top:0;
    left:0;
    filter: alpha(opacity=0);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity:0;
    background-color:transparent;
    color:transparent;
    width:100%;
    height:100%;
}
