{% macro render_errors(field) %}
    {% for error in field.errors %}
    <span class="help-block">{{ error }}</span>
    {% endfor %}
{% endmacro %}

{% macro field_mixin(field, type, placeholder, help) %}
    {# https://github.com/wtforms/wtforms/pull/17#issuecomment-28162938 #}
    {% if field.flags.required %}
        {{ field(type=type, class="form-control", placeholder=placeholder, **kwargs) }}
    {% else %}
        {{ field(type=type, class="form-control", placeholder=placeholder, **kwargs) }}
    {% endif %}
    {{ render_errors(field) }}
    {% if help %}
    <small class="help-block">{{help}}</small>
    {% endif %}
{% endmacro %}

{% macro render_field(field, type, placeholder='', help='') %}
    <div class="form-group {% if field.errors %}has-error{% endif %}">
        {{ field.label(class="control-label") }}
        {{ field_mixin(field, type, placeholder, help='', **kwargs) }}
    </div>
{% endmacro %}

{% macro render_field_hor(field, type, placeholder, help='') %}
    <div class="form-group {% if field.errors %}has-error{% endif %}">
        {{ field.label(class="col-sm-2 control-label") }}
        <div class="col-sm-10">
            {{ field_mixin(field, type, placeholder, help='', **kwargs) }}
        </div>
    </div>
{% endmacro %}
