{% extends "template.html" %}
{% set active_page = "index" %}
{% set title = "nieuws" %}

{% block content %}
<div class="jumbotron">
<h1>Losse bladjes</h1>
<p>Een poging om de losse bladjes die in iedereens codex zitten te delen en documenteren.</p>
<p><a class="btn btn-primary btn-lg" role="button" href="{{ url_for('bladjes') }}">Bekijk de bladjes</a></p>
</div>

<h2>Opdracht</h2>
<p>iets over de opdracht ...</p>

<h2>Nieuws</h2>

{% set posts = [
    ('Castrum novembercantus', 
    '3 november 2013', 
    '<p>Maandag 4 november zal ik tijdens de cantus van Castrum aanwezig zijn met een scanner om losse bladjes te vereeuwigen. Neem je losse bladjes dus zeker mee!</p>'),
    
    ('Online!', 
    '3 november 2013', 
    '<p>De bladjes die ik tot nu toe ingescanned heb kunnen nu online bekeken worden!</p>
    <p><a href="' + url_for('contact') + '">Laat me iets weten</a> indien deze website niet werkt voor jouw.</p>
    <p>Ik ben nog van plan om enkele aspecten van deze website te verbeteren: </p>
    <ul>
        <li>Meer losse bladjes scannen!</li>
        <li>Meer info toevoegen en verzamelen over de bladjes die ik heb</li>
        <li>Website bruikbaar maken op smartphones</li>
        <li>Mogelijk maken om zelf een blad te uploaden</li>
    </ul>')
    ] -%}

{% for title, date, content in posts %}
<div class="post">
  <h3>{{ title }}</h3>
  <span class="post-date">{{ date }}</span>
  {{ content|safe }}
</div>
{% endfor %}

{% endblock %}