<!DOCTYPE html>
<html lang="nl">
<head>
    {% set title = title|default('') -%}
    <title>Lossebladjes{% if title %} - {{ title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='overrides.css') }}">
    
    {% block head %}{% endblock %}
</head>
<body>
    <header class="navbar navbar-inverse navbar-fixed-top" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">Losse bladjes</a>
            </div>
            <nav role="navigation" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {% set nav = [
                        ('index', 'Nieuws'),
                        ('bladjes', 'Bladjes'),
                        ('contact', 'Contact'),
                        ('upload', 'Upload'),
                    ] -%}
                        {# ('upload', 'Upload een blad') #}
                    {% set active_page = active_page|default('index') -%}
                    {% for page, caption in nav %}
                    <li{% if page == active_page %} class="active"{% endif %}>
                        <a href="{{ url_for(page) }}">{{ caption }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </header>
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{{url_for('index')}}">Losse bladjes</a></li>
            {% if parent -%}
            {% for page, name in parent %}
            <li><a href="{{ url_for(page) }}">{{name}}</a></li>
            {% endfor %}
            {% endif %}
            <li class="active">{{ title }}</li>
        </ol>
        {% for category, message in get_flashed_messages(with_categories=true) %}
        <div class="alert {{ category }}">{{ message }}</div>
        {% endfor %}
        {% block content %}{% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>