{% extends "template.html" %}
{% from "_macros.html" import render_field %}
{% set title = blad.titel %}
{% set active_page = "bladjes" %}
{% set parent = [("bladjes", "Bladjes")] %}

{% block content %}
    <div class="row top-margin">
        <div class="col-xs-6">
        {% if prev %}
            <a class="btn btn-default pull-left fill" href="{{url_for('blad', blad_id=prev.id)}}">
                <span class="glyphicon glyphicon-chevron-left"></span>
                vorig lied: {{prev.titel}}
            </a>
        {% endif %}
        </div>
        <div class="col-xs-6">
        {% if next %}
            <a class="btn btn-default pull-right fill" href="{{url_for('blad', blad_id=next.id)}}">
                volgend lied: {{next.titel}}
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        {% endif %}
        </div>
    </div>

    <h1>{{blad.titel}}</h1>

    <div class="row">
        <div id="scans" class="col-sm-6  top-margin">
            <div class="row center-block" style="display:table">
                <div class="carousel slide col-xs-8; width:90%" data-interval='100'>
                    <div class="carousel-inner">
                        <div class="item text-center active">
                            <img src="{{ url_for('static', filename='scans/' + blad.scan_filename)}}" alt="{{blad.titel}}" class="img-responsive small center-block height-responsive">
                        </div>
                    </div>
                </div>
            </div>
            <div class="top-margin text-center">
                <a id='hide' href='#' type="button" class="btn btn-default">
                        Zoom afbeelding
                        <span class="glyphicon glyphicon-zoom-in"></span>
                </a>
            </div>
        </div>

        <div id='meta' class="col-sm-6 top-margin">
            <dl class="dl-horizontal">
                <dt>tekst</dt><dd>{% if blad.auteur %}{{blad.auteur}}{% else %}auteur onbekend{% endif %}</dd>
                <dt>melodie</dt><dd>{% if blad.melodie %}{{blad.melodie}}{% else %}onbekend{% endif %}</dd>
                {% if blad.voorgedragen_op %}<dt>voorgedragen op</dt><dd>{{blad.voorgedragen_op}}</dd>{% endif %}
                {% if blad.eigenaar %}<dt>trotse eigenaar</dt><dd>{{blad.eigenaar}}</dd>{% endif %}
<!--            {% if blad.toegevoegd_op %}<dt>toegevoegd op</dt><dd>{{blad.toegevoegd_op}}</dd>{% endif %} -->
            </dl>
            {% if blad.extra %}{{ blad.extra|safe }}{% endif %}

            <hr>
            <p>Weet je meer over dit lied? Laat het me weten!</p>
            <div id='pre-form' {% if form.errors %}hidden{% endif %}>
                <button id='show-form' class="btn btn-primary">Info toevoegen</button>
            </div>
            <div id='form' {% if not form.errors %}hidden{% endif %}>
                <form method="post" role="form">
                    {{ form.hidden_tag() }}
                    {{ render_field(form.naam, 'Naam') }}
                    {{ render_field(form.email, 'Email', 'E-mail adressen worden enkel gebruikt om uw opmerking te beantwoorden of hier verder op in te gaan.', type='email') }}
                    {{ render_field(form.opmerking, 'Uw opmerking', rows=8) }}
                    <button type="submit" class="btn btn-primary">Versturen</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $('#hide').on("click", function(){
            $('#meta').toggle();
            $('#scans').toggleClass('col-sm-6').toggleClass('col-sm-12');
            $('#hide .glyphicon').toggleClass('glyphicon-zoom-in').toggleClass('glyphicon-zoom-out');
            $('#scans .carousel-inner img').toggleClass('small');
            $('.carousel').carousel('pause')
        });

        $('#show-form').on("click", function(){
            $('#pre-form').toggle();
            $('#form').toggle();
        });
    </script>
{% endblock %}
