{% extends "template.html" %}
{% set title = "Bladjes" %}
{% set active_page = "bladjes" %}

{% block content %}
    <h1>Alle losse bladjes</h1>
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th>naam</th>
                <th>tekst</th>
                <th>melodie</th>
                <th>toegevoegd op</th>
            </tr>
        </thead>
        <tbody>
        {% for blad in bladeren|sort(attribute='titel') %}
            <tr>
                <td><a href="{{ url_for('blad', blad_id=blad.id) }}">{{ blad.titel|truncate(50) }}</a></td>
                <td>{% if blad.auteur %}{{blad.auteur|truncate(45)}}{% endif %}</td>
                <td>{% if blad.melodie %}{{blad.melodie|truncate(45)}}{% endif %}</td>
                <td>{{ blad.toegevoegd_op }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}