{% extends "template.html" %}
{% set active_page = "index" %}
{% set title = "Nieuws" %}

{% block content %}
<div class="jumbotron clearfix">
    <h1>Losse bladjes</h1>
    <p>
        Een poging om de losse bladjes die in iedereens codex zitten te verzamelen en documenteren.
    </p>
    <a class="btn btn-primary btn-lg" role="button" href="{{ url_for('bladjes') }}">
        Bekijk de bladjes
    </a>

</div>

<h2>Opdracht</h2>
<p>
    Wie regelmatig cantust kent het fenomeen.
    Op een cantus worden liederteksten uitgedeeld en gezongen,
    die je daarna prompt in je codex steekt.
    Na een tijd krijgen deze losse bladjes ezelsoren en gaan ze verloren.
    Dit is spijtig, aangezien hier vaak heel mooie en unieke liederen op staan.
    Daarom heb ik als schacht bij Castrum de ontgroeningopdracht gekregen om deze losse bladjes te vereeuwigen.
</p>
<p>
    Ik probeer me hierbij vooral te richten op ongepubliceerde en onbekende teksten,
    die door comilito's zelf geschreven zijn.
</p>

<h2>Nieuws</h2>
{% for post in posts %}
<div class="post">
    <h3>{{ post.title }}</h3>
    <span class="post-date">{{ post.date }}</span>
    {{ post.content|safe }}
</div>
{% endfor %}

{% endblock %}