{% extends "template.html" %}
{% set active_page = "index" %}
{% set title = "Nieuws" %}

{% block content %}
<div class="jumbotron clearfix">
    <h1>Losse bladjes</h1>
    <p>
        Een poging om de losse bladjes die in iedereens codex zitten te verzamelen en documenteren.
    </p>
    <a class="btn btn-primary btn-lg" role="button" href="{{ url_for('bladjes') }}">
        Bekijk de bladjes
    </a>

</div>

<h2>Opdracht</h2>
<p>
    Wie regelmatig cantust kent het fenomeen.
    Op een cantus worden liederteksten uitgedeeld en gezongen,
    die je daarna prompt in je codex steekt.
    Na een tijd krijgen deze losse bladjes ezelsoren en gaan ze verloren.
    Dit is spijtig, aangezien hier vaak heel mooie en unieke liederen op staan.
    Daarom heb ik als schacht bij Castrum de ontgroeningopdracht gekregen om deze losse bladjes te vereeuwigen.
</p>
<p>
    Ik probeer me hierbij vooral te richten op ongepubliceerde en onbekende teksten,
    die door comilito's zelf geschreven zijn.
</p>

<h2>Nieuws</h2>

{% set posts = [
    ('Nieuwe bladjes', 
    '8 november 2013', 
    '<p>Tijdens de Castrum novembercantus heb ik nog wat bladjes kunnen inscannen die in Balor zijn codex zaten. Deze zijn ondertussen toegevoegd. Bedankt Balor!</p>'),

    ('Castrum novembercantus', 
    '3 november 2013', 
    '<p>Maandag 4 november zal ik tijdens de cantus van Castrum aanwezig zijn met een scanner om losse bladjes te vereeuwigen. Neem je losse bladjes dus zeker mee!</p>'),
    
    ('Online!', 
    '3 november 2013', 
    '<p>De bladjes die ik tot nu toe ingescanned heb kunnen nu online bekeken worden!</p>
    <p><a href="' + url_for('contact') + '">Laat me iets weten</a> indien deze website niet werkt voor jouw.</p>
    <p>Ik ben nog van plan om enkele aspecten van deze website te verbeteren: </p>
    <ul>
        <li>Meer losse bladjes verzamelen</li>
        <li>Meer info toevoegen en verzamelen over de bladjes die ik heb</li>
        <li>Website bruikbaar maken op smartphones</li>
        <li>Mogelijk maken om zelf een blad te uploaden</li>
    </ul>')
    ] -%}

{% for title, date, content in posts %}
<div class="post">
  <h3>{{ title }}</h3>
  <span class="post-date">{{ date }}</span>
  {{ content|safe }}
</div>
{% endfor %}

{% endblock %}