.top-margin { 
    margin-top: 20px; 
}

.small { 
    max-height: 400px; 
}

.carousel-control { 
    background-image: none !important;
}

.white {
  color: #fff;
}

.post-date {
    display: block;
    margin: -10px 0 10px;
    color: #aaa;
}

body {
    padding-top: 50px; /* for the fixed menu */
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}